<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">company</th>
                <th scope="col">email</th>
                <th scope="col">framework</th>
                <th scope="col">task</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of records">
                <td>{{r.company}}</td>
                <td>{{r.email}}</td>
                <td>{{r.framework}}</td>
                <td>{{r.task}}</td>
            </tr>
        </tbody>
    </table>
</div>
