<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Code Escrow</h1>
        <p class="lead">Code escrow leverages smart contracts to make coordinating with your team easy. It allows you to pay developers when predefined test suites in your code base pass.</p>
        <hr class="my-4">
        <p>Submit an inquiry to get started</p>
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/inquiry" routerLinkActive="active">Continue</a>
    </div>
</div>
